        .emoji-selector.active {
  bottom: 23%;
  opacity: 1;
  pointer-events: all;
          right:-21px;
}
        .emoji-selector {
  background-color: white;
  border-radius: 1rem;
  cursor: default;
  display: block;
  padding: 0;
  border: 1px solid #eee;
  position: absolute;
  bottom: 0%;
  width: 325px;
  height: 350px;
  z-index: 5;
  opacity: 0;
  pointer-events: none;
  overflow: auto;
  transition: bottom 0.3s ease, opacity 0.3s ease;
}
   .emoji-list {
  background-color: white;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0 1rem 1rem;
  border-radius: 0;
}
        .emoji-photo{
        font-size:1.5rem;
        }
