.btn-create-guideline {
    font-size: 14px;
    padding: 5px 10px;
    height: 40px;
    margin-left: 150%;
}
#image-preview {
    display: block;
    border-radius: 12px;
    height: 180px;
    object-fit: cover;
    margin-left: 100px;
    width: 250px;
}
img {
    display: block;
    width: 100%;
}

h2 {
    margin: 0;
    font-size: 1.4rem;
}

@media (min-width: 50em) {
    h2 {
        font-size: 1.8rem;
    }
}

.cta {
    --shadowColor: 187 60% 40%;
    display: flex;
    flex-wrap: wrap;
    background: #e7ecef;
    max-width: 45rem;
    width: 100%;
    /*box-shadow: 0.65rem 0.65rem 0 hsl(var(--shadowColor) / 1);*/
    box-shadow: 0.65rem 0.65rem 0 hsl(206, 64%, 41%);
    border-radius: 0.8rem;
    overflow: hidden;
    border: 0.2rem solid;
    margin-left: 7.6%;
    margin-top: 1.5%;
    height: 85%;
}

.cta img {
    aspect-ratio: 3 / 2;
    object-fit: cover;
    flex: 1 1 300px;
    outline: 0.1rem solid;
    height: 60%;
    width: 90%;
    margin-left: 35px;
    margin-top: -10px;
}

.cta__text-column {
    padding: min(2rem, 5vw) min(2rem, 5vw) min(2.5rem, 5vw);
    flex: 1 0 50%;
    height: 100%;

}

.cta__text-column > * + * {
    margin: min(1.5rem, 2.5vw) 0 0 0;
}

.cta button {
    display: inline-block;
    color: black;
    padding: 0.2rem 1rem;
    text-decoration: none;
    background: #e7ecef;
    border-radius: 0.6rem;
    font-weight: 700;
    border: 0.2rem solid;
}
