<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Change Password</title>
    <link rel="stylesheet" type="text/css" th:href="@{/static/assets/css/changepassword.css}">
    <script src="https://kit.fontawesome.com/83cece50f1.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>
<body>
        <div id="box">
            <form id="myform-search"  th:action="@{/changepassword}" method="post" autocomplete="off" th:object="${user}">
                <h1 style="color: #369">Change Password <span style="color: #000; margin-top: 7px;">choose a good one!</span></h1>
                <h3 style="color:red;margin-top: -30px;" th:text="${error}"></h3>
                <form>
                    <p>
                        <input type="password" value="" placeholder="Enter Current Password" th:field="*{password}"  id="p-d" class="password">
                        <button class="unmask" type="button"></button>
                    </p>
                    <p>
                        <input type="password" value="" placeholder="Enter New Password" th:field="*{newPassword}" id="p" class="password">
                        <button class="unmask" type="button"></button>
                    </p>
                    <p>
                        <input type="password" value="" placeholder="Confirm Password"  th:field="*{confirmPassword}" id="p-c" class="password">
                        <button class="unmask" type="button"></button>
                        <button  type="submit" style="margin-top: 15px;font-size: 17px">Submit</button>
                    <div id="strong"><span></span></div>
                    <div id="valid"></div>
                    <small>Must be 6+ characters long and contain at least 1 upper case letter, 1 number, 1 special character</small>
                    </p>
                </form>
        </div>
        <script th:src="@{/static/assets/js/changepassword.js}"></script>

</body>
</html>